.width, .heigth {
    font-size: 15px;
    background-color: #e3e171; 
    border-radius: 7px;
    padding: 2px 1px;
    text-align: center;
  }
  .width:active {
    background-color: #dde80c;
  }
  .heigth:active {
    background-color: #dde80c;
  }
  .btn {
    background-color: #bd4500;
    font-size: 20px;
    padding: 2px 15px;
    border-radius: 8px;
  }
  .btn:hover {
    background-color: #f27a29;
    cursor: pointer;
  }
  .result {
    font-size: 19px;
    letter-spacing: 0.20px;
    color: red;
  }
  .card-img {
    display: block;
    width: 200px;
    height: 150px;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  .resetebtn {
    background-color: #5cd1c5;
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 8px;
  }
  .resetebtn:hover {
    background-color: #57ebdc;
    cursor: pointer;
  }